
/** SIZE **/
$full : 100%;
$mid : 50%;
$quart : 25%;



/** FONTS **/

//@include font-face("OpenBold", font-files("../fonts/OpenSans-Bold.ttf"), "../fonts/OpenSans-Bold.eot",bold,normal);

$basic-font-size : 13px;



